/*import normalize css sheet*/
@import "normalize.css";


/*begin algemene grid*/
body {
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header"
    "main"
    "footer";
    background-color: white;
    font-family: Arial, sans-serif;
    color: #323232;
}

#footer {
    grid-area: footer;
}

/*einde algemene grid*/

/*Begin styling navigatie bar*/
.navbar {
    grid-area: navigatie;
    text-align: center;
}

.navbar a:link, .navbar a:visited {
    text-decoration: none;
    color: inherit;
}

nav .logo {
    position: absolute;
    left: 10px;
    top: 0;
}

.navbar ul {
    font-size: 18px;
    padding: 4px 0;
    margin: 8px;

}

.navbar ul li {
    display: inline;
    padding: 10px 50px;
}

.navbar ul li:hover {
    background-color: #caeeca;
    border-radius: 5px;
}

.navbar .active {
    background-color: #90ee90;
    border-radius: 5px;
    user-select: none;
}

/* Submenu items */
.navbar .submenu {
    position: relative;
    display: inline-block;

}

.navbar .submenu ul {
    display: none;
    background-color: #caeeca;
    position: absolute;
}

.navbar .submenu ul li {
    width: 4em;
    display: block;
    text-decoration: inherit;
}


/* Weergeven submenu */
.navbar ul li:hover ul {
    display: block;
}

.navbar .submenu ul li:hover {
    background-color: #9be09b;
}

/*Einde styling navigatie bar*/


/*Begin styling banner + paginatitel*/
header {
    position: relative;
}

h1 {
    grid-area: titel;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: white;
    text-shadow: 0.2vw 0.2vw green;
}

.banner {
    grid-area: banner;
    width: 100%;
    max-height: 344px;
}

/*Einde styling banner + paginatitel*/


/*Begin algemene styling*/

/*styling map in contactpagina*/
.map {
    width: 640px;
    height: 480px;
    border: 0;
}


/*style hiddentitel*/
.hiddentitle {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

/*styling a*/
a:link, a:visited, a {
    text-decoration: none;
}

/*styling list*/
ul {
    list-style: none;
}

/*einde elgemene styling*/

/*begin styling footer*/
#footer {
    text-align: center;
    text-decoration-color: black
}

#footer a:link, #footer a:visited{
    color: #323232;
    text-decoration: underline;
}

/*einde styling footer*/

/*begin grid homepage*/
#home_main {
    grid-area: main;
    display: grid;
    grid-auto-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;

    grid-template-areas:
    "over_ons ons_aanbod personalisering";
}

#home_main {
    text-align: center;
}


#ons_aanbod {
    grid-area: ons_aanbod;
    background-color: #caeeca;
    border-radius: 10px;
    padding: 0 10px;
}

#over_ons {
    grid-area: over_ons;
    background-color: #caeeca;
    border-radius: 10px;
    padding: 0 10px;
    margin-left: 10px;

}

#personalisering {
    grid-area: personalisering;
    background-color: #caeeca;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 10px;

}

/*einde grid homepage*/

/*begin grid productpage*/

#producten_main {
    grid-area: main;
    display: grid;
    gap: 10px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "gridfilter1 gridfilter2 gridfilter3 gridfilter4 gridfilter5"
    "producten producten producten producten producten";
}

#producten {
    grid-area: producten;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    "zomer winter sport";
}

#zomer {
    grid-area: zomer;
    background-color: #caeeca;
    border-radius: 10px;
}

#zomer ul {
    padding: 0;
    align-content: center;
}

#zomer ul li {
    width: 200px;
    height: 320px;
    vertical-align: top;
    padding: 0 10px;
}

#winter {
    grid-area: winter;
    background-color: #caeeca;
    border-radius: 10px;
}

#winter ul {
    padding: 0;
    align-content: center;
}

#winter ul li {
    width: 200px;
    height: 320px;
    vertical-align: top;
    padding: 0 10px;

}

#sport {
    grid-area: sport;
    background-color: #caeeca;
    border-radius: 10px;
}

#sport ul {
    padding: 0;
    align-content: center;
}

#sport ul li {
    width: 200px;
    height: 320px;
    vertical-align: top;
    padding: 0 10px;

}

#producten_main label {
    transform: translate(100%, 0);
    margin: 20px;
}

#gridfilter1 {
    grid-area: gridfilter1;

}

#gridfilter2 {
    grid-area: gridfilter2;

}

#gridfilter3 {
    grid-area: gridfilter3;


}

#gridfilter4 {
    grid-area: gridfilter4;

}

#gridfilter5 {
    grid-area: gridfilter5;

}

/*einde grid productpage*/

/*begin grid contact*/
#contact_main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    grid-template-areas:
    "bellen bezoek"
    "email bezoek";
    text-align: center;
}

#email {
    grid-area: email;
    background-color: #caeeca;
    border-radius: 10px;
}

#bezoek {
    grid-area: bezoek;
    background-color: #caeeca;
    border-radius: 10px;
}

#bellen {
    grid-area: bellen;
    background-color: #caeeca;
    border-radius: 10px;
}

/*einde grid contact*/

/*begin grid FAQ*/
#faq_main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    "faq_prod faq_shop";
    text-align: left;
}

#faq_prod {
    grid-area: faq_prod;
    padding: 0 20px;
    background-color: #caeeca;
    border-radius: 10px;
}

#faq_shop {
    grid-area: faq_shop;
    padding: 0 20px;
    background-color: #caeeca;
    border-radius: 10px;

}

/*einde grid FAQ*/

/*begin grid product detail*/
.proddetail_main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    grid-template-areas:
    "algemeen kenmerken";
}

.algemeen {
    grid-area: algemeen;
    background-color: #caeeca;
    border-radius: 10px;
    text-align: center;
    padding: 0 20px 20px;
}

.kenmerken {
    grid-area: kenmerken;
    background-color: #caeeca;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.kenmerken dt {
    padding-top: 50px;
}

.kenmerken dd {
    padding-top: 10px;
    font-weight: normal;
}

/*einde grid product details*/

/*Begin filters werken*/

/*eerst bij klik alles verbergen*/
#filtergeen:checked ~ section .filteralles {
    display: none;
}

#filterbolletjes:checked ~ section .filteralles {
    display: none;
}

#filterstreepjes:checked ~ section .filteralles {
    display: none;
}

#filtergeruit:checked ~ section .filteralles {
    display: none;
}

/*vervolgens het gewenste item tonen*/
#filteralles:checked ~ section .filteralles {
    display: inline-block;
}

#filtergeen:checked ~ section .filtergeen {
    display: inline-block;
}

#filterbolletjes:checked ~ section .filterbolletjes {
    display: inline-block;
}

#filterstreepjes:checked ~ section .filtergestreept {
    display: inline-block;
}

#filtergeruit:checked ~ section .filtergeruit {
    display: inline-block;
}

/*einde filters werken*/

/*begin styling filters*/
input[type="radio"] {
    position: absolute;
    left: -10000px;

}

#producten_main label {
    border: 3px solid darkgreen;
    border-radius: 10px;
    height: 20px;
    width: 100px;
    padding: 3px;
}

#producten_main input[type="radio"]:checked + label {
    background-color: #90ee90;
}

#producten_main label:hover {
    background-color: #caeeca;
}

/*einde styling filters*/