body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #323232;
}

header {
    position: relative;
    text-align: center;
}

.hiddentitle {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

/*Begin styling navigatie bar*/
nav {
    margin: 15px;
}

nav .logo {
    position: absolute;
    left: 10px;
    top: -6px;
}

nav ul {
    list-style: none;
    padding: 4px 0;
    margin: 0;
}

nav li {
    display: inline;
    padding: 4px;
}

nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
}
/*Einde styling navigatie bar*/

/*Begin styling banner + paginatitel*/
h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: white;
    text-shadow: 0.2vw 0.2vw green;
}

.banner {
    width: 100%;
}
/*Einde styling banner + paginatitel*/

/*Begin styling map in contactpagina*/
.map {
    width: 640px;
    height: 480px;
    border: 0;
}
/*Einde styling map in contactpagina*/



